@charset "UTF-8";

div#game-video iframe {
	width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 34px;
    margin: 10px;
    border: 2px solid #2f334b;
}

div#game-video {
    height: 427px;
    width: 667px;
    background: #babdcd;
    border: 3px solid #2f334b;
    border-radius: 10px;
}

div#game-image {
    margin-top: 40px;
    width: 667px;
    height: 192px;
    background: #babdcd;
    border-radius: 10px;
    border: 3px solid #2f334b;
}


aside.gameInfo>* {
	border: 1px solid black;
}

aside.gameInfo {
    margin-top: -652px;
    margin-left: 696px;
    width: 328px;
    height: 412px;
    border: 2px solid #2f334b;
    border-radius: 10px;
}

aside.gameInfo div p {
	height: 37px;
}

input#noticeM {
    margin-left: 4px;
    margin-block: 4px;
    width: 313px;
    height: 190px;
    border-radius: 7px;
    background: #dddee6;
    font-weight: bold;
}

table#comment {
    width: 667px;
    margin-top: 282px;
    border: 2px solid #2f334b;
}

#comment tbody tr td:last-child {
	width: 16%;
}

#comment tbody tr td:first-child {
	width: 15%;
}

.rating {
	border: 1px solid red;
	width: 329px;
	height: 329px;
	margin-left: 697px;
	margin-top: -269px;
	border-radius: 100%;
}

#game-image div:first-child {
	width: 48%;
    height: -webkit-fill-available;
    margin: 10px;
}

#game-image div:last-child {
	width: 317px;
    height: 166px;
    margin-left: 334px;
    margin-top: -176px;
}

div#game-image div:first-child img {
	float: left;
    width: 100%;
    height: inherit;
    border: 2px solid #2f334b;
}
#game-image div:last-child img {
	width: 100%;
    height: inherit;
    border: 2px solid #2f334b;
}

#game-image div img {
	border-radius: 16px;
}

.rating p {
	text-align: center;
}

.gameInfo input[type="button"] {
	position: relative;
	width: 70%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.gameInfo div:last-child {
	text-align: center;
	font-size: inherit;
	height: 39px;
}
aside.gameInfo>* {
    border: 1px solid #2f334b;
    font-weight: bold;
    font-size: larger;
    border-radius: 0px;
    background: #a9acc1;
    color: black;
}
aside.gameInfo div:nth-child(n+1):nth-child(-n+4) {
    border-bottom: 2px solid #2f334b;
}

input#buyGame {
    background: #dddee6;
    font-weight: bold;
    margin-top: 4px;
}
aside.gameInfo div:first-child {
    border-radius: 7px 7px 0px 0px;
}
aside.gameInfo div:last-child {
    border-radius: 0px 0px 7px 7px;
}
table#comment tbody tr:first-child {
    background: #a9acc1;
    color: #333333;
    font-weight: bold;
}

#comment tbody tr td:nth-child(n+1):nth-child(-n+2) {
    border-right: 2px solid #2f334b;
}
#comment tbody tr th:nth-child(n+1):nth-child(-n+2) {
    border-right: 2px solid #2f334b;
}
#comment tbody tr th {
    border-top: 2px solid #2f334b;
}
table#comment tbody tr:last-child {
    background: #dddee6;
}
div#content {
    background: #ebebf0;
}